@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --orange: #f4af76;
    --steelblue: #4682b4;
    --purple: #493657;
    --white: #fff;
    --gray: #646673;
    --dark: #171726;
    --black: #000;
    --hide: all 500ms ease-in-out;
    --transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.app {
    font-family: "Inter";
    color: var(--white);
    background-color: var(--black);
    padding: 100px 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


